<div class="container">
	<div class="row">
		<div class="col-md-6 panel panel-default">
			<div class="panel-heading text-center services">
				<h4 class="panel-title">{{ .Site.Data.services.stumpGrindingTitle | safeHTML }}</h4>
				<img src="/img/carousel/stump_grinder_edited.jpg" class="img-fluid" alt="Stump grinder">
			</div>
			<div class="panel-body text-center">
				<p>{{ .Site.Data.services.stumpGrindingContent | safeHTML }}</p>
			</div>
		</div>
		<div class="col-md-6 panel panel-default">
			<div class="panel-heading text-center services">
			<h4 class="panel-title">{{ .Site.Data.services.treePruningTitle | safeHTML }}</h4>
				<img src="/img/carousel/pruning.jpg" class="img-fluid" alt="Pruning a tree">
			</div>
			<div class="panel-body text-center">
				<p>{{ .Site.Data.services.treePruningContent | safeHTML }}</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 panel panel-default">
			<div class="panel-heading text-center services">
			<h4 class="panel-title">{{ .Site.Data.services.treeRemovalTitle | safeHTML }}</h4>
				<img src="/img/carousel/tree_removal_edited.jpg" class="img-fluid" alt="Removing a large tree">
			</div>
			<div class="panel-body text-center">
				<p>{{ .Site.Data.services.treeRemovalContent | safeHTML }}</p>
			</div>
		</div>
		<div class="col-md-6 panel panel-default">
			<div class="panel-heading text-center services">
			<h4 class="panel-title">{{ .Site.Data.services.bonsaiTitle | safeHTML }}</h4>
				<img src="/img/carousel/bonsai_edited.jpg" class="img-fluid" alt="bonsai">
			</div>
			<div class="panel-body text-center">
				<p>{{ .Site.Data.services.bonsaiContent | safeHTML }}</p>
			</div>
		</div>
	</div>
</div>

