<div class="container-fluid">
	<div class="row who-i-am">
		<div class="col-md-4">
			<div class="box-simple">
				<h2>Who I Am</h2>
				<p>I’ve been working in the forestry and arborist business over the last 10 years.  I began Falling Leaf Tree Service with the hopes of bringing my experience of the forest and combining my knowledge in the urban environment.  I have the know-how to tackle everything from the smallest of questions and needs, to large-scale projects. No matter the size of the job, I always work hard to ensure my clients are completely satisfied with my work. Call to schedule an initial consultation today.</p>
				<br>
				<p>Get in touch</p>
			</div>
		</div>
		<div class="col-md-8">
			<div class="box-simple">
				<img src="/img/who_i_am/falling_leaves.jpg" class="img-fluid" alt="Falling leaves">
			</div>
		</div>
	</div>
</div>
