<div class="container">
	<div class="row work">
		<h2 class="text-center">Projects</h2>
		<p class="text-center">Some Examples of My Work</p>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="box-simple">
				{{ .Site.Data.projects.project1Content | safeHTML }}
			</div>
		</div>
		<div class="col-md-6">
			<div class="box-simple">
				<img src="/img/work/work_bench_edited.jpg" class="img-fluid" alt="Custom bench">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="box-simple">
				<img src="/img/work/work_tree_edited.jpg" class="img-fluid" alt="Cutting down a tree">
			</div>
		</div>
		<div class="col-md-6">
			<div class="box-simple">
				{{ .Site.Data.projects.project2Content | safeHTML }}
			</div>
		</div>
	</div>
</div>
