<div class="container">
	<div class="row work">
		<h2 class="text-center">{{ .Site.Data.projects.title | safeHTML }}</h2>
		<p class="text-center">{{ .Site.Data.projects.subheading | safeHTML }}</p>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="box-simple">
				<p>{{ .Site.Data.projects.project1Content | safeHTML }}</p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="box-simple">
				<img src="{{ .Site.Data.projects.project1Image.src }}" class="img-fluid" alt="{{ .Site.Data.projects.project1Image.alt }}">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="box-simple">
				<img src="{{ .Site.Data.projects.project2Image.src }}" class="img-fluid" alt="{{ .Site.Data.projects.project2Image.alt }}">
			</div>
		</div>
		<div class="col-md-6">
			<div class="box-simple">
				<p>{{ .Site.Data.projects.project2Content | safeHTML }}</p>
			</div>
		</div>
	</div>
</div>
